.ant-btn {
  font-family: Anuphan;
}
.ant-btn-primary {
  background-color: #ff5d29;
  border-color: #ff5d29;
  &:hover,
  &:focus {
    color: white;
    background-color: #e65525;
    border-color: #e65525;
  }
}
